

body {
  background: bisque;
  font-family: Arial, sans-serif;
   background-image: url(image/weather.jpg);
}

h1 {
  text-align: center;
  margin-top: 2opx;
  color:rgb(152, 152, 206);
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
}  

#currentWeather {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(103, 95, 110);
}
#currentWeather h2{
  font-size: 24px;
  margin-bottom: 8px;
}
.forecast{
  margin-top: 20px;
  background-color: blue;
}
#forecastInfo h2{
  background: rgb(116, 11, 11);
  text-decoration: wavy;
}
.forecast-day {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  
}